body{
    font-family: inherit;
    margin-left: 100px;
    margin-right: 100px;
}

#primer_carousel_titulo{
    text-align: left;
}

#primer_carousel{ 
    font-size: 77px; 
    text-shadow: 0px 0px 7px black;
}

#carrera_profesional{
    text-align: center;
}

.recomendaciones{
    text-align: center;
    background-color: #343a40;
    border-radius: 15px;
}

#titulo_recomendaciones{
    color: white;
}

.object-fit-cover {
    width:150px;
    height:150px;
    object-fit:cover;
    text-align: center;
}
    
footer{
    padding: 20px;
    background-color: black
}
